{% extends "base.html" %}
{% block content_title %}Название{% endblock %}

{% block content %}

    <p lang="ru">
        Параграф
    </p>
    
    <blockquote lang="en">
        In hac habitasse platea dictumst. Sed imperdiet, neque vitae feugiat fringilla, odio mauris semper nulla, vel vestibulum lacus nunc in quam. Suspendisse mattis lorem blandit odio tempor maximus. Pellentesque ultrices hendrerit enim, vel luctus diam facilisis in. Vestibulum ligula justo, fringilla sit amet risus nec, feugiat varius ipsum. Sed convallis justo a urna posuere tincidunt. Phasellus vitae eleifend dui, quis malesuada nunc. Aliquam erat volutpat. Nullam pretium, turpis et tempor pellentesque, ante dui suscipit ex, eget efficitur mi metus id ex. Cras at ligula a ex porttitor interdum. Nunc sit amet felis nisl. Phasellus pellentesque ligula et velit iaculis, quis feugiat ipsum rutrum. Proin aliquam neque sit amet arcu convallis scelerisque. Etiam aliquam pharetra nulla in finibus. Sed sollicitudin ante diam, vel tincidunt lectus venenatis ac.  
    </blockquote>

    <p lang = "en">
        Pellentesque in aliquet lectus. Aenean velit ligula, fermentum eu rhoncus sit amet, porta ut tellus. Nunc orci enim, viverra nec consectetur id, sodales at erat. Praesent sodales convallis lacus a faucibus. Mauris pellentesque neque quis lorem iaculis, et posuere urna tincidunt. Nam eu vestibulum lectus, nec varius purus. Cras tincidunt enim eu enim elementum interdum. Nullam volutpat ipsum consectetur, accumsan ex ut, posuere dolor. Morbi ac consectetur massa, a laoreet tortor. Integer venenatis consequat dolor, a dictum tellus imperdiet eu. Duis malesuada tempor augue vel sagittis. Nam molestie lectus ut pulvinar placerat. Nulla neque neque, mollis ut rhoncus nec, volutpat ac dui. In elementum magna quis erat lacinia faucibus. Nam eget eros erat. 
    </p>

    <p lang = "en">
        Pellentesque in aliquet lectus. Aenean velit ligula, fermentum eu rhoncus sit amet, porta ut tellus. Nunc orci enim, viverra nec consectetur id, sodales at erat. Praesent sodales convallis lacus a faucibus. Mauris pellentesque neque quis lorem iaculis, et posuere urna tincidunt. Nam eu vestibulum lectus, nec varius purus. Cras tincidunt enim eu enim elementum interdum. Nullam volutpat ipsum consectetur, accumsan ex ut, posuere dolor. Morbi ac consectetur massa, a laoreet tortor. Integer venenatis consequat dolor, a dictum tellus imperdiet eu. Duis malesuada tempor augue vel sagittis. Nam molestie lectus ut pulvinar placerat. Nulla neque neque, mollis ut rhoncus nec, volutpat ac dui. In elementum magna quis erat lacinia faucibus. Nam eget eros erat. 
    </p>
    <p lang = "en">
        Pellentesque in aliquet lectus. Aenean velit ligula, fermentum eu rhoncus sit amet, porta ut tellus. Nunc orci enim, viverra nec consectetur id, sodales at erat. Praesent sodales convallis lacus a faucibus. Mauris pellentesque neque quis lorem iaculis, et posuere urna tincidunt. Nam eu vestibulum lectus, nec varius purus. Cras tincidunt enim eu enim elementum interdum. Nullam volutpat ipsum consectetur, accumsan ex ut, posuere dolor. Morbi ac consectetur massa, a laoreet tortor. Integer venenatis consequat dolor, a dictum tellus imperdiet eu. Duis malesuada tempor augue vel sagittis. Nam molestie lectus ut pulvinar placerat. Nulla neque neque, mollis ut rhoncus nec, volutpat ac dui. In elementum magna quis erat lacinia faucibus. Nam eget eros erat. 
    </p>
    <p lang = "en">
        Pellentesque in aliquet lectus. Aenean velit ligula, fermentum eu rhoncus sit amet, porta ut tellus. Nunc orci enim, viverra nec consectetur id, sodales at erat. Praesent sodales convallis lacus a faucibus. Mauris pellentesque neque quis lorem iaculis, et posuere urna tincidunt. Nam eu vestibulum lectus, nec varius purus. Cras tincidunt enim eu enim elementum interdum. Nullam volutpat ipsum consectetur, accumsan ex ut, posuere dolor. Morbi ac consectetur massa, a laoreet tortor. Integer venenatis consequat dolor, a dictum tellus imperdiet eu. Duis malesuada tempor augue vel sagittis. Nam molestie lectus ut pulvinar placerat. Nulla neque neque, mollis ut rhoncus nec, volutpat ac dui. In elementum magna quis erat lacinia faucibus. Nam eget eros erat. 
    </p>
{% endblock %}