{% extends 'base.html' %}

{% block title %}
    {{ entry.title }}
{% endblock title %}

{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/detail.css') }}">
{% endblock %}

{% block extra_scripts %}
    <script src="{{ url_for('static', filename='js/hotfixes.js') }}"></script>
{% endblock %}

{% block content_title %}
    {{ entry.title }}
{% endblock content_title %}

{% block sidebar %}
    <nav id = "tag-info" class = "container-fluid">
    <h4>Тэги</h4>
    {% for tag in entry.tags | sort(attribute="name") %}
        <a class="badge badge-secondary" 
            href="{{ url_for('entries.tag_detail', slug=tag.slug)}}">
        {{ tag.name }}
        </a> 
    {% endfor %}
    <p>Опубликовано {{ entry.created_timestamp.strftime('%m/%d/%Y')}}</p>
    </nav>
    <div id = "toc-info" class = "container-fluid">
        <h4>Оглавление</h4>
        <nav id = "navbar-scrollspy">
            {{ scrollspy | safe}}
        </nav>
    </div>
    <!-- <nav class="nav list-group flex-column">
        <h4>Тэги</h4>
        {% for tag in entry.tags %}
            <a class="list-group-item nav-link" 
                href="{{ url_for('entries.tag_detail', slug=tag.slug)}}">
                {{ tag.name }}
            </a> 
        {% endfor %}
    </nav> -->
{% endblock sidebar %}

{% block content %}
    {{ rendered_data }}
{% endblock content %}