{% extends 'base.html' %}
{% from 'macros/form_field.html' import form_field %}
{% from 'macros/form_control.html' import form_control %}


{% block title %}
    Правка «{{ entry.title }}»    
{% endblock title %}

{% block content_title %}
    Правка «{{ entry.title }}»    
{% endblock content_title %}

{% block content %}
    <form action="{{ url_for('entries.edit', slug=entry.slug) }}" method="post">
        {% for field in form %}
            {{ form_field(field) }}            
        {% endfor %}
        {{ form_control( url_for('entries.detail', slug=entry.slug), submit_name="Сохранить") }}
    </form>
{% endblock content %}

