{% extends 'base.html' %}

{% block title %}
    {% if tag is iterable and (tag is not string and tag is not mapping) %}
        Записи по тегам « 
        {% for elem in tag %} 
            {{ elem.name }} 
        {% endfor %} »
    {% else %}
        Записи по тегу «{{tag.name}}»
    {% endif %}
    
{% endblock title %}

{% block content_title %}
    {% if tag is iterable and (tag is not string and tag is not mapping) %}
        Записи по тегам « 
        {% for elem in tag %} 
            {{ elem.name }} 
        {% endfor %} »
    {% else %}
        Записи по тегу «{{tag.name}}»
    {% endif %}
{% endblock content_title %}

{% block content %}
    {% include 'includes/list.html' %}
    {% include 'includes/page_links.html' %}
{% endblock content %}