{% macro form_field(field) %}
    <div class="form-group row {% if field.errors %} has-error has-feedback {% endif %}">
        {{ field.label(class='col-sm-3 control-label') }}
        <div class="col-sm-9">
            {% if field.errors %}
                {{ field(class='form-control is-invalid',  **kwargs) }}
                <div class="invalid-feedback">
                    <i class="fas fa-exclamation-triangle"></i>
                    {% for error in field.errors %}
                        <span class="help-block">{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ field(class='form-control', **kwargs) }}
            {% endif %}
        </div>
    </div>            
{% endmacro %}