<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %} {% endblock %} PsyRat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pygments.css') }}">
    {% block extra_styles %}{% endblock %}
    
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a705b82395.js" crossorigin="anonymous"></script>
    
    {% block extra_scripts %}{% endblock %}

</head>


<body class ="{% block body_class %}{% endblock %}" data-spy="scroll" data-offset="110">
    <header>
        <div class="container">
            <nav class= "navbar navbar-dark bg-dark fixed-top navbar-expand-lg">
                <a class="navbar-brand" href="/">
                    <img src="/static/img/410.svg" width="30" height="30" class="d-inline-block align-top" alt="">
                    {% block branding %}PsyRat{% endblock %}
                </a>
                
                <button type="button" class="navbar-toggler" 
                        data-toggle="collapse" data-target="#navbarNav" 
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse"  id="navbarNav">
                    <div class="navbar-nav">
                            <a class="nav-item nav-link active" href="{{ url_for('homepage') }}">Home</a>
                            <a class="nav-item nav-link active" href="{{ url_for('entries.index') }}">Blog</a>
                    {% block extra_nav %}{% endblock %}
                    </div>
                    <div class="navbar-nav ml-md-auto d-md-flex" method="get" role="form">
                        <form class="form-inline my-2 my-lg-0" id = "main-search-form"  action="/entries/"> 
                            <input class="form-control mr-sm-3" type="search" placeholder="Search" aria-label="Search" name="q" value="{{ request.args.get('q', '') }}">
                            <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </div>

                </div>
                
                

            </nav>
        </div>
    </header>

    <div class="container" id = "main-content">
        <div class="row">
            <aside class="col-md-3 bd-sidebar">
                <div class = "sticky-top sidebar">
                {% block sidebar %}
                    <nav class="nav list-group flex-column">
                        <a class="list-group-item nav-link" href="#">Sidebar item</a>
                        <a class="list-group-item nav-link" href="#">Sidebar item</a>
                        <a class="list-group-item nav-link" href="#">Sidebar item</a>
                    </nav>
                {% endblock %}
                </div>
            </aside>
            <main class="col-md-9">
                <h1>{% block content_title %}{% endblock %}</h1>
                {% for category, message in get_flashed_messages(with_categories=true) %}
                    <div class="alert alert-dismissible alert-{{ category }} fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        {{ message }}
                    </div>
                {% endfor %}

                {% block content_control %}{% endblock content_control %}                

                {% block content %}
                {% endblock %}
            </main>
        </div>

        <div class="row">
        
            <footer class = "container-fluid">
                <hr />
                <p> PsyRat</p>
            </footer>
        </div>
    </div>

</body>
</html>